@charset "ISO-8859-1";

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

.padding {
    padding: 5rem !important;
    margin-left: 300px
}

.testing {
	font-size: 12px;
	color: red;
	font-weight: 700;
}

.container {
	max-width: 1200px;
	padding: 20px;
}

* {
	font-family: 'Titillium Web';
}

.hero {
	width: 100%;
	height: 350px;
	background: url(../images/programming.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	display: block;
	position: relative;
}

.nav-link {
	text-transform: uppercase !important;
	color: #fff !important;
	font-weight: 600 !important;
	margin-right: 15px !important;
}

.bg-light {
	background-color: #000 !important;
	margin: 0px !important;
}

.navbar-brand {
	text-transform: uppercase !important;
	color: #fff !important;
	font-weight: 600 !important;
	margin-right: 15px !important;
	padding-right: 15px !important;
	border-right: 2px solid #fff !important;
}

.heroTxt {
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	padding: 20px;
	background: #000;
	position: absolute;
	left: 42%;
	top: 50%;
}

.homeLink {
	color: #00b012;
	transition: all .3s ease;
}

.homeLink:hover {
	color: #fff;
	text-decoration: none;
}

body {
	background: #000;
	color: #fff;
}

.buttonLogin {
	background: #00b012;
	color: #fff;
	padding: 6px 12px;
	transition: all .3s ease;
	border-radius: 5px;
	border: 0px solid #000;
	font-weight: 600;
}
.buttonLogin:hover {
	transform: scale(1.1);
	color: #fff;
	text-decoration: none;
}

table, tr:hover {
	color: #fff !important;
}

.layoutDropdowns {
	padding: 15px;
	border-radius: 10px;
	border: 3px solid #fff;
	margin-top: 25px;
	margin-bottom: 25px;
}

.layoutDrop {
	width: 100%;
	padding: 5px 10px;
	font-weight: 600;
	border-radius: 10px;
	margin-bottom: 10px;
}

select:focus-visible {
	outline: 0px solid #000 !important;
}

.layoutDropItem {
	font-weight: 600 !important;
	background: #000 !important;
	color: #fff !important;
	transition: all .3s ease !important;
	padding: 10px !important;
}

.layoutDropItem:hover {
	background-color: #00b012 !important;
	color: #000 !important;
}

.form-group {
	margin-bottom: 0px !important;
}

.form-control {
	margin-bottom: 10px !important; 
}

.activeLayout {
	border: 2px solid #00b012 !important;
}

.disabledBtn, .disabledBtn:hover {
	background: #777 !important;
	color: #000 !important;
}

.form-check {
	margin-bottom: 10px !important;
}
